# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
.env
*.env.local

# Django
*.log
*.pot
*.pyc
*.pyo


# Virtual environment
venv/
env/
.venv/
.env/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Others
.DS_Store
Thumbs.db
